<%= form_with(model: [evaluate, maker_comment]) do |form| %>
  <% if maker_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(maker_comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% maker_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>