<div id="star-rate-<%= @product.id %>"></div>
<script>
  $('#star-rate-<%= @product.id %>').raty({
  size: 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  half: true,
  readOnly: true,
  score: '<%= product_score ||= 0.0 %>'
  });
</script>
